// ========================================
// footer
// ========================================

footer {
    width: 100%;
    background: $dark;
    fill: $white;
    color: $white;
    img {
        width: 100px;
        height: auto;
        margin-bottom: 20px;
    }
    .menu-footer-socials-container {
        margin: 40px 0;
        li {
            display: inline-block;
            margin: 0 8px;
        }
        a {
            display: inline-block;
            width: 35px;
            height: 35px;
        }
    }
    .copyright {
        font-size: 12px;
        letter-spacing: .5px;
        a {
            text-decoration: underline;
        }
    }
}
